<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button"  [routerLink]="['/components/reglas']">Reglas</button>
      <button class="btn btn-outline-success" type="button" [routerLink]="['/components/video']">Videos</button>
     
      <button class="btn btn-outline-success" type="button" [routerLink]="['/components/premiacion']">Premiacion</button>
      <button class="btn btn-outline-success" type="button" [routerLink]="['/components/paficionado']">Aficionados</button>
      <button class="btn btn-outline-success" type="button" [routerLink]="['/components/pprofesional']">Profesionales</button>
      <button class="btn btn-outline-success" type="button" [routerLink]="['/components/milonga']">Milonga</button>
      <button class="btn btn-outline-success" type="button"  [routerLink]="['/components/grupos']">Grupos</button>
      <button class="btn btn-outline-success" type="button"  [routerLink]="['/components/editor']">Editor</button>  
     
    </form>
  </nav>
